[Unit]
Description=Apache Tomcat 9
After=network.target

[Service]
User=tomcat
Group=tomcat
WorkingDirectory=/usr/local/tomcat9
Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk
Environment=JRE_HOME=/usr/lib/jvm/java-17-openjdk
Environment=CATALINA_HOME=/usr/local/tomcat9
Environment=CATALINA_BASE=/usr/local/tomcat9
ExecStart=/usr/local/tomcat9/bin/catalina.sh run
ExecStop=/usr/local/tomcat9/bin/shutdown.sh
SyslogIdentifier=tomcat9

[Install]
WantedBy=multi-user.target
